.App {
  text-align: center;
}

html,
body {
  height: 100%;
  margin: 0;
}

.App {
  min-height: 100vh;
  background-image: url("./background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff;
  overflow-x: hidden;
}

.content {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

input[type="text"],
select {
  color: #000;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 8px;
}

input[type="text"]::placeholder {
  color: #999;
}

input:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

button {
  color: #fff;
  background-color: #000;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
  border-color: #333;
}

select {
  background-color: #fff;
  color: #000;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 8px;
}

#search-bar::placeholder {
  color: #888; 
}

#search-bar:focus::placeholder {
  color: transparent; 
}
